$header-big-1: 140px;
$header-mid-1: 100px;
$header-big-2: 66px;
$header-mid-2: 70px;
$header-big-3: 48px;
$header-mid-3: 35px;
$header-small-1: 55px;
$header-small-2: 35px;
$header-small-3: 35px;
$header-4: 32px;
$header-5: 24px;
$header-6: 18px;

$paragraph: 14px;
$base-color: #212121;
$base-mid: #413F3E;
$base-light: #e9d5b7;
$foreground-text: #fceacf;



